@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.latest {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.latest__greatest {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.latest__greatest-heading {
    font-family: 'Arvo', serif;
    color: var(--clr-maroon);
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--size-base);
    letter-spacing: 0.1rem;
    text-align: center;
}

.latest__greatest-box {
    display: flex;
    flex-direction: column;
}

.latest__greatest-box>img {
    width: 100%;
    cursor: pointer;
}

.latest__greatest-box>img:hover {
    opacity: 0.6;
}

.latest__greatest-box-same3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.latest__greatest-box-same3>h4 {
    color: #808080;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: var(--size-sm);
    font-family: 'Arvo', serif;
    font-weight: 600;
}

.latest__greatest-box-same3>h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 900;
    letter-spacing: -0.05em;
    font-size: var(--size-3xl);
    cursor: pointer;
}

.latest__greatest-box-same3>h2:hover {
    text-decoration: underline;
}

.latest__greatest-btn {
    color: var(--clr-yellow);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;

    transition: all ease-in-out 0.3s;
}

.latest__greatest-btn:hover {
    color: #000000;
}

.latest__btn {
    text-align: center;
}

.latest__btn button {
    background-color: var(--clr-maroon);
    color: var(--clr-light);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 0.8em 2em;

    transition: all 0.6s ease-in-out;
}

.latest__btn button:hover {
    background-color: #000000;
}

.latest__freezer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest__collection {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: rgba(230, 227, 227, 0.729);
    color: rgba(0, 0, 0, 0.725);
    margin-top: 0.1em;
    padding: 1em;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.latest__collection:not(:first-child):hover {
    opacity: 0.6;
}

.latest__collection span {
    font-family: 'Arvo', serif;
    font-weight: 400;
    text-transform: capitalize;
}

.latest__collection svg {
    color: var(--clr-maroon);
}

.latest__collection-heading {
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--clr-maroon);
}


@media screen and (min-width: 768px) {
    .latest__greatest-heading {
        text-align: left;
    }

    .latest {
        flex-direction: row;
    }

    .latest__btn button {
        padding: 0.8em 5em;
    }

    .latest__greatest-box {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .latest__greatest-box>img {
        width: 15rem;
    }

    .latest__greatest-box-same3 {
        gap: 1.5rem;
    }
}