@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.msgbar {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.msgbar__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msgbar__bold {
    font-family: serif;
    font-size: var(--size-sm);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.25em;
}

.msgbar__drama {
    font-family: "Calligraffitti", cursive;
    font-size: var(--size-3xl);
    color: var(--clr-maroon);
    padding-left: 0.5rem;
    font-weight: 500;
}

/* xs */
/* @media screen and (min-width: 475px) {
} */

/* sm */
/* @media screen and (min-width: 640px) {
} */

/* md */
@media screen and (min-width: 768px) {
    .msgbar__text-wrapper {
        flex-direction: row;
    }

    .msgbar__bold {
        font-size: var(--size-base);
    }
    
    .msgbar__drama {
        font-size: var(--size-4xl);
    }
}

/* lg */
/* @media screen and (min-width: 1024px) {
} */

/* xl */
/* @media screen and (min-width: 1280px) {
} */

/* 2xl */
/* @media screen and (min-width: 1536px) {
} */